# Valores em base_do_supabase.sql (comentários no topo do arquivo)
SUPABASE_URL=https://hydtvfjffstyceqekerl.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5ZHR2ZmpmZnN0eWNlcWVrZXJsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjgyMTgwMjgsImV4cCI6MjA4Mzc5NDAyOH0.ak-BjlV4Cg0t4DxuAzelnKqDx5QlXYBc811jEtm3WYw
JWT_SECRET=seu_secret_aqui
